@font-face {
  font-family: HanYiChaoCuHeiJian-1;
  src: url("../fonts/HanYiChaoCuHeiJian-1.ttf");
}
@font-face {
  font-family: msyh;
  src: url("../fonts/msyh-2.ttc");
}
@font-face {
  font-family: msyhbold;
  src: url("../fonts/msyhbold.ttc");
}
@font-face {
  font-family: msyhlight;
  src: url("../fonts/msyhlight.ttc");
}
.c-product .c-detail {
  background-color: transparent !important;
}
.c-product .c-detail .features-caption h1 {
  color: #000 !important;
  text-align: center;
}
.c-product .c-detail .features-caption p {
  color: #000 !important;
  text-align: center;
}
.c-product .c-detail .features-caption .price {
  display: block !important;
  padding: 1rem 0;
}
.c-product .c-detail .features-caption .price h2 {
  color: #000 !important;
  text-align: center;
  margin-bottom: 0;
}
.c-product .c-detail .features-caption .c-discount .c-discount-text {
  margin-bottom: 0 !important;
}
.c-product .c-detail .features-caption .c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.c-product .c-detail .features-caption .c-btn .r-btn {
  background-color: #ed1c24;
  width: fit-content;
  color: #fff;
  font-weight: bold;
  font-family: "msyhbold";
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.c-product .c-detail .features-caption .product__details__widget {
  padding: 1rem 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-product .c-detail .features-caption .product__details__widget .quantity {
  overflow: hidden;
  margin-right: 0;
  float: unset;
}
.c-product .c-detail .features-caption .select-Categories {
  box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
}
.c-product .c-detail .features-caption .select-Categories .c-selection {
  margin: auto;
  box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
}
.c-product .c-detail .features-caption .select-Categories .c-selection .c-selection-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-product .c-detail .features-caption .select-Categories .c-selection .c-selection-box .c-sb-box {
  display: flex;
}

.c-login-back {
  background-color: #f7f7f7;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-login-back .c-header h1 {
  font-family: "HanYiChaoCuHeiJian-1";
}

.c-login-form {
  margin-top: -15rem;
  min-height: 80vh !important;
}
@media screen and (min-width: 992px) {
  .c-login-form {
    margin-top: -14rem;
  }
}
@media screen and (min-width: 1440px) {
  .c-login-form {
    margin-top: -15rem;
  }
}
.c-login-form .login-form {
  min-width: 80% !important;
  border-radius: 10px;
  padding: 1rem 2rem !important;
}
@media screen and (min-width: 768px) {
  .c-login-form .login-form {
    min-width: 60% !important;
  }
}
@media screen and (min-width: 1440px) {
  .c-login-form .login-form {
    min-width: 40% !important;
  }
}
.c-login-form .c-input {
  border-radius: 10px;
}
.c-login-form .c-label {
  font-family: "msyhbold" !important;
}
.c-login-form .login-footer a {
  font-family: "msyh";
  color: #ed1c24 !important;
}
.c-login-form .login-footer .c-btn {
  background-color: #ed1c24 !important;
  padding: 0.5rem 3rem;
  height: unset;
  border-radius: 10px;
}

/*# sourceMappingURL=custom.css.map */
