@font-face {
  font-family: HanYiChaoCuHeiJian-1;
  src: url("../fonts/HanYiChaoCuHeiJian-1.ttf");
}
@font-face {
  font-family: msyh;
  src: url("../fonts/msyh-2.ttc");
}
@font-face {
  font-family: msyhbold;
  src: url("../fonts/msyhbold.ttc");
}
@font-face {
  font-family: msyhlight;
  src: url("../fonts/msyhlight.ttc");
}
.c-product .c-detail {
  background-color: transparent !important;
}
.c-product .c-detail .features-caption h1 {
  color: #000 !important;
  text-align: center;
}
.c-product .c-detail .features-caption p {
  color: #000 !important;
  text-align: center;
}
.c-product .c-detail .features-caption .price {
  display: block !important;
  padding: 1rem 0;
}
.c-product .c-detail .features-caption .price h2 {
  color: #000 !important;
  text-align: center;
  margin-bottom: 0;
}
.c-product .c-detail .features-caption .c-discount .c-discount-text {
  margin-bottom: 0 !important;
}
.c-product .c-detail .features-caption .c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.c-product .c-detail .features-caption .c-btn .r-btn {
  background-color: #ed1c24;
  width: fit-content;
  color: #fff;
  font-weight: bold;
  font-family: "msyhbold";
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.c-product .c-detail .features-caption .product__details__widget {
  padding: 1rem 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-product .c-detail .features-caption .product__details__widget .quantity {
  overflow: hidden;
  margin-right: 0;
  float: unset;
}
.c-product .c-detail .features-caption .select-Categories {
  box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
}
.c-product .c-detail .features-caption .select-Categories .c-selection {
  margin: auto;
  box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 1px 1px 23px -2px rgba(0, 0, 0, 0.77);
}
.c-product .c-detail .features-caption .select-Categories .c-selection .c-selection-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-product .c-detail .features-caption .select-Categories .c-selection .c-selection-box .c-sb-box {
  display: flex;
}

.c-login-back {
  background-color: #f7f7f7;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-login-back .c-header h1 {
  font-family: "HanYiChaoCuHeiJian-1";
}

.c-login-form {
  margin-top: -15rem;
  min-height: 80vh !important;
}
@media screen and (min-width: 992px) {
  .c-login-form {
    margin-top: -14rem;
  }
}
@media screen and (min-width: 1440px) {
  .c-login-form {
    margin-top: -15rem;
  }
}
.c-login-form .login-form {
  min-width: 80% !important;
  border-radius: 10px;
  padding: 1rem 2rem !important;
}
@media screen and (min-width: 768px) {
  .c-login-form .login-form {
    min-width: 60% !important;
  }
}
@media screen and (min-width: 1440px) {
  .c-login-form .login-form {
    min-width: 40% !important;
  }
}
.c-login-form .c-input {
  border-radius: 10px;
}
.c-login-form .c-label {
  font-family: "msyhbold" !important;
}
.c-login-form .login-footer a {
  font-family: "msyh";
  color: #ed1c24 !important;
}
.c-login-form .login-footer .c-btn {
  background-color: #ed1c24 !important;
  padding: 0.5rem 3rem;
  height: unset;
  border-radius: 10px;
}

.c-register-back {
  background-color: #f7f7f7;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-register-back .c-header h1 {
  font-family: "HanYiChaoCuHeiJian-1";
}

.c-register-form {
  margin-top: -7rem;
  min-height: 80vh !important;
}
@media screen and (min-width: 992px) {
  .c-register-form {
    margin-top: -5rem;
  }
}
@media screen and (min-width: 1440px) {
  .c-register-form {
    margin-top: -7rem;
  }
}
.c-register-form .register-form {
  max-width: 80% !important;
  min-width: 80% !important;
  border-radius: 10px;
  padding: 1rem 2rem !important;
}
@media screen and (min-width: 768px) {
  .c-register-form .register-form {
    max-width: 60% !important;
    min-width: 60% !important;
  }
}
@media screen and (min-width: 1440px) {
  .c-register-form .register-form {
    max-width: 40% !important;
    min-width: 40% !important;
  }
}
.c-register-form .c-input {
  border-radius: 10px;
}
.c-register-form .c-label {
  font-family: "msyhbold" !important;
}
.c-register-form .register-footer a {
  font-family: "msyh";
  color: #ed1c24 !important;
}
.c-register-form .register-footer .c-btn {
  background-color: #ed1c24 !important;
  padding: 0.5rem 2rem;
  height: unset;
  border-radius: 10px;
}

.c-home {
  background-color: #f4f4f4;
}
.c-home .c-slider-btn {
  border-radius: 15px;
}
.c-home .c-about {
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .c-home .c-about {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .c-home .c-about {
    width: 50%;
  }
}
.c-home .c-about .c-subtitle {
  font-family: "HanYiChaoCuHeiJian-1";
  text-align: center;
  padding-bottom: 2rem;
}
.c-home .c-about p {
  font-family: "msyh-1";
}
.c-home .c-home-listing {
  padding-bottom: 3rem;
  padding-top: 0;
}
.c-home .c-home-listing .c-subtitle {
  font-family: "HanYiChaoCuHeiJian-1";
  text-align: center;
  padding-bottom: 2rem;
}
.c-home .c-home-listing .c-home-listing-left {
  border-right: 2px solid #dbdbdb;
}
.c-home .c-home-listing .c-home-listing-left .c-category-listing {
  padding: 0 1rem 0;
  border: 0;
}
.c-home .c-home-listing .c-home-listing-left .c-category-listing .c-hll-search {
  box-shadow: -1px 1px 43px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 43px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 43px -12px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
.c-home .c-home-listing .c-home-listing-left .c-category-listing .c-hll-search .c-searchbar {
  border-radius: 15px;
}
.c-home .c-home-listing .c-home-listing-left .c-category-listing .c-hll-search .c-btn {
  background-color: #efb000;
  color: #fff;
  border-radius: 15px;
}
.c-home .c-home-listing .c-home-listing-left .c-category-listing .c-checkmark {
  border-color: #dbdbdb !important;
}
.c-home .category-listing .single-listing .select-Categories .container input:checked ~ .checkmark {
  background-color: #ed1c24 !important;
  border-color: #ed1c24 !important;
}
.c-home .c-subAbout {
  padding: 1rem;
  background-image: url(../../assets/img/blog/single_blog_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-home .c-subAbout .c-text {
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .c-home .c-subAbout .c-text {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .c-home .c-subAbout .c-text {
    width: 50%;
  }
}
.c-home .c-subAbout .c-text p {
  font-family: "msyh-1";
  color: #fff;
}

.c-productList .c-Cardflex {
  cursor: pointer;
  padding-bottom: 1rem;
  width: 100%;
}
.c-productList .c-Cardflex .c-listingCard {
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.c-productList .c-Cardflex .c-listingCard:hover {
  background-color: #eaeaea;
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-tag {
  background-color: #ed1c24;
  font-family: "msyhbold";
  color: #fff;
  width: 30%;
  padding: 0 0.5rem;
  text-align: center;
  border-radius: 15px;
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-productImg {
  width: 100%;
  padding-top: 0.5rem;
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-productImg img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-name {
  padding-top: 0.5rem;
  text-align: left;
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-name h3 {
  font-family: "msyhbold";
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-desc {
  padding-top: 0.5rem;
  text-align: left;
}
.c-productList .c-Cardflex .c-listingCard .c-top .c-desc p {
  font-family: "msyhlight";
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 1.3;
  -webkit-box-orient: vertical;
}
.c-productList .c-Cardflex .c-listingCard .c-btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-productList .c-Cardflex .c-listingCard .c-btm .c-btn {
  background-color: #efb000;
  color: #fff;
  border-radius: 15px;
  font-family: "msyhbold";
  padding: 0.5rem 1rem;
}
.c-productList .c-Cardflex .c-listingCard .c-btm .t-price {
  font-family: "msyhbold";
  margin-bottom: 0;
}
.c-productList .c-Cardflex .c-listingCard .c-btm .t-promo-price {
  font-family: "msyhbold";
  margin-bottom: 0;
  text-decoration: line-through;
  color: #aaaaaa;
}
.c-productList .product__pag a {
  margin-bottom: 10px;
}

/*# sourceMappingURL=custom.css.map */
