@font-face {
    font-family: HanYiChaoCuHeiJian-1;
    src: url("../fonts/HanYiChaoCuHeiJian-1.ttf");
}
@font-face {
    font-family: msyh;
    src: url("../fonts/msyh-2.ttf");
}
@font-face {
    font-family: msyhbold;
    src: url("../fonts/msyhbold.ttf");
}
@font-face {
    font-family: msyhlight;
    src: url("../fonts/msyhlight.ttf");
}

.c-product {
    .c-detail {
        background-color: transparent !important;
        .features-caption {
            h1 {
                color: #000 !important;
                text-align: center;
            }
            p {
                color: #000 !important;
                text-align: center;
            }
            .price {
                display: block !important;
                padding: 1rem 0;
                h2 {
                    color: #000 !important;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            .c-discount {
                .c-discount-text {
                    margin-bottom: 0 !important;
                }
            }
            .c-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                .r-btn{
                    background-color: #ed1c24;
                    width: fit-content;
                    color: #fff;
                    font-weight: bold;
                    font-family: "msyhbold";
                    text-align: center;
                    padding: 0.5rem 2rem;
                    border-radius: 5px;
                }
            }
        }
    }
}
